# Binaries for programs and plugins
refdocs
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# goreleaser output
dist


# This program binary
crd-docs-generator

# IDE
.vscode

# potential output files from this tool
*.html
*.md

